body{background-color:rgb(181, 109, 37);}

h1{
    margin-left: 30 0px;
    margin-right: 300px;
    color:darkkhaki;font-size: 150px;
    padding-left: 20px;
}

#titular{
    font-family:"Lucida Console","Courier liew",monospace}

h2{color:rgb(85, 64, 31);font-size: 75px;
    margin:10px;}

.blur-effect:hover {
    filter: blur(5px); /* Cambia el valor de 5px según lo que desees */
    transition: all 0.3s ease; /* Añade transición suave al pasar el cursor */
  }

#img_libro{width:25vw;}

nav {
    background-color: rgb(213, 136, 35);
    padding: 0 50px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav li{ 
    border-radius: 10px;
    padding: 8px;
    margin-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    background-color: rgb(148, 112, 39); color: white;
    padding: 15px;
    border-radius: 10px;

}