body{background-color:rgb(230, 229, 227);}



.navbar{
  height: 120px;
  background-color:rgb(251, 251, 251);

}

.navbar-brand{
  font-size: 50px;
}

@media screen and (max-width: 600px) {
.imagenes{
    display: none;
  }
  .ul{
    display: flex;
    position: absolute;
  }
}


#titular{
    font-family:"Lucida Console","Courier liew",monospace}

h2{color:rgb(85, 64, 31);font-size: 10vw;
    margin:10px;}

.blur-effect:hover {
    filter: blur(5px); /* Cambia el valor de 5px según lo que desees */
    transition: all 0.3s ease; /* Añade transición suave al pasar el cursor */
  }

#img_libro{width:25vw;}






